<html>
    <title>Graph</title>

    <style>
         .Mytext{
            text-anchor: middle;
            font-family: arial;
            font-size: 1px;
            pointer-events: none;
            }
        .Edge {
                stroke: #777;
                stroke-opacity: .2;
                pointer-events: none；
            }
        
        #right_select_box {
                line-height:30px;
                background-color:#eeeeee;
                height:900px;
                width:300px;
                float:right;
                padding:10px;	      
            }

    </style>
    
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    <script src="lib/d3.v3.min.js" charset="utf-8"></script>


    <body >
        <link rel="stylesheet" href="lib/style/bootstrap.min.css">

    
        <nav class="navbar nav-default" role="navigation" style="background-color: grey; max-height: 60px;">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <p style="color: black"> Knowlege Graph </p></a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://vis.cse.ust.hk/"  style="color: black">About Us</a></li>
                    <li><a href="#"  style="color: black">Help</a></li>
                </ul>
            </div>
        </nav>
        
        <div id="right_select_box">
            <div id= "col-sm-3 col-sm-offset-9 col-md-3 col-md-offset-9 sidebar" ng-class="{invisible: uiConfig.hideControlPanel}">
                <script src="scripts/controller/rightCtrl.js"></script>
  
                <div ng-include src="'views/rightSidebar.html'" class="ng-scope"></div>
                    <!-- need add rightctrl function ---------------------->
                <div id="right-sidebar" ng-controller="rightCtrl" class="ng-scope"> </div>
                    <h4>Control Panel:</h4>
                    <div ng-include src="'views/queryFilter.html'" class="ng-scope"></div>
                    <div id="queryFilter" ng-controller="queryFilterCtrl" class="ng-scope">
                        <div class="info-header">
                            <h5> Querys:</h5>
                        </div>
                        <div ng-if="dataLoadFlag == 1" class="ng-scope">
                            <div id="searchWrapper" class="queryWarpper">
                                <input type="text" id="txt" class="form-control ng-pristine ng-untouched ng-valid" placeholder="Graph node name" style="width:63%;display:inline" ng-model="querData.searchText">
                                <button type="button" id="btn" class="btn btn-primary" style="display: inline" ng-click="search()"> Search</button>
                                <button type="button" class="btn btn-primary" style="display: inline" onclick="recover()"> Reset</button>
                                <ul id="list"></ul>
                            </div>
                        </div>
                    </div>
                
                    <div>
                        <!-- need to add tablectrl  highlight-node-->
                        <div table-directive table-config ="tableConfig" table-data="currentNodes" ng-controller="tableCtrl" highlight-node="highlightNode(node)" class="ng-score ng-isolate-scope"> 
                            <div id = "table-section">
                                <div class="info-header">
                                    <!-- <h5>Graph Nodes List:</h5> -->
                                </div>
                                <div class="table-view ng-scope" ng-if="tableData !=undefined" >
                                    <table class="table table-bordered table-condensed">
                                        <thead>
                                            <tr>
                                                <th ng-style="{'width':tableConfig.thNodeWidth * 100 +'%'}" colspan="1" style="width:100%;text-align:center" >Nodes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat= "node in tableData" class="selectable ng-scope" ng-click="highlightNode({node.node})">
                                                <td  ng-app="myApp3" ng-init="graphnode1='Function'" ng-controller="cc">
                                                    <ul>
                                                        <li style="font-size:16px;line-height:30px;">{{graphnode1}} </li>
                                                        <li style="font-size:16px;line-height:30px;">{{graphnode2}} </li>
                                                        <li style="font-size:16px;line-height:30px;">{{graphnode3}} </li>
                                                        <li style="font-size:16px;line-height:30px;">{{graphnode4}} </li>
                                                        <li style="font-size:16px;line-height:30px;">{{graphnode5}} </li>
                                                        <li style="font-size:16px;line-height:30px;">{{graphnode6}} </li>
                                                        <li style="font-size:16px;line-height:30px;">{{graphnode7}} </li>
                                                        <li style="font-size:16px;line-height:30px;">{{graphnode8}} </li>
                                                        <li style="font-size:16px;line-height:30px;">{{graphnode9}} </li>
                                                        <li style="font-size:16px;line-height:30px;">{{graphnode10}} </li>
                                                        <!-- <p> Node Name: {{graphnode1}} <span style="font-size:18px;font-weight:bold;text-align:right"></span> </p>  
                                                        <p> Node Name: {{graphnode2}} <span style="font-size:18px;font-weight:bold;text-align:right"></span> </p>  
                                                        <p> Node Name: {{graphnode3}} <span style="font-size:18px;font-weight:bold;text-align:right"></span> </p>  
                                                        <p> Node Name: {{graphnode4}} <span style="font-size:18px;font-weight:bold;text-align:right"></span> </p>  
                                                        <p> Node Name: {{graphnode5}} <span style="font-size:18px;font-weight:bold;text-align:right"></span> </p>   -->
                                                    </ul>
                                                </td>
                                                
                                            <script> 
                                                //global_datas = JSON.parse(localStorage.getItem("global_datas"));
                                                //console.log(global_datas)
                                                var app = angular.module('myApp3', []);
                                                    app.controller('cc', function($scope) {
                                                        //$scope.graphnode2 =global_datas.nodes[0]
                                                        global_datas = JSON.parse(localStorage.getItem("global_datas"));
                                                        

                                                        $scope.graphnode1 = global_datas.nodes[0].name;
                                                        $scope.graphnode2 = global_datas.nodes[1].name;
                                                        $scope.graphnode3 = global_datas.nodes[2].name;
                                                        $scope.graphnode4 = global_datas.nodes[3].name;
                                                        $scope.graphnode5 = global_datas.nodes[4].name;
                                                        $scope.graphnode6 = global_datas.nodes[5].name;
                                                        $scope.graphnode7 = global_datas.nodes[6].name;
                                                        $scope.graphnode8 = global_datas.nodes[7].name;
                                                        $scope.graphnode9 = global_datas.nodes[8].name;
                                                        $scope.graphnode10 = global_datas.nodes[9].name;


                                                    });     
                                            </script>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="name-box-d3"></div>
                        </div>
                    </div>

                    
            </div>
        </div>  

        <script src="lib/jquery-1.9.1.js"></script>

        <script src="main.js"></script>
        <script src="scripts/controller/rightCtrl.js"></script>
        <script>

            var oTxt = document.getElementById('txt');
            var oBtn = document.getElementById('btn');
            var oList = document.getElementById('list');
            var fruits;
            global_datas = JSON.parse(localStorage.getItem("global_datas"));
            //var fruits = ["Function","function","vertical line test","piecewise function","step function","葡萄","柠檬","橘子","草莓","草莓子","草拟吗","s","ssr"];
            //点击事件
            oBtn.addEventListener('click', function(){
                var keyWord = oTxt.value;
                global_datas = JSON.parse(localStorage.getItem("global_datas"));
                fruits = global_datas.nodes
                // var fruitList = searchByIndexOf(keyWord,fruits);
                //console.log(fruits);
                var fruitList = searchByRegExp(keyWord, fruits);
                renderFruits(fruitList);
                //console.log(fruitList,nodes);
            }, false);
            //回车查询
            oTxt.addEventListener('keydown', function(e){
                if(e.keyCode == 13){
                    var keyWord = oTxt.value;
                    global_datas = JSON.parse(localStorage.getItem("global_datas"));
                    fruits = global_datas.nodes
                    //var fruitList = searchByIndexOf(keyWord,fruits);
                    var fruitList = searchByRegExp(keyWord, fruits);
                    renderFruits(fruitList);
//                    console.log("finsiah")
                }
            }, false);
            var cpLock = false;
            $('#txt').on('compositionstart', function () {
                cpLock = true;
                console.log("不搜索")
            });
            $('#txt').on('compositionend', function () {
                cpLock = false;
                console.log("汉字搜索");
                var keyWord = oTxt.value;
                // var fruitList = searchByIndexOf(keyWord,fruits);
                var fruitList = searchByRegExp(keyWord, fruits);
                renderFruits(fruitList);
            });
            $('#txt').on('input', function () {
                if (!cpLock) {
                    console.log("字母搜索")
                    var keyWord = oTxt.value;
                    // var fruitList = searchByIndexOf(keyWord,fruits);
                    var fruitList = searchByRegExp(keyWord, fruits);
                    renderFruits(fruitList);
                }
            });
            function renderFruits(list){
                if(!(list instanceof Array)){
                    return ;
                }
                oList.innerHTML = '';
                var len = list.length;
                var item = null;
                
                // thread_item = document.createElement('thread')
                // tr_item = document.createElement('tr')
                // th_item = document.createElement('th')
                // th_item.setAttribute("style", "colspan=:1;width:100%;text-align:center") 
                // th_item.innerHTML = "Nodes"
                // tr_item.appendChild(th_item)
                // thread_item.append(tr_item)
                //oList.appendChild(thread_item)
                
                // <thead>
                //     <tr>
                //         <th ng-style="{'width':tableConfig.thNodeWidth * 100 +'%'}" colspan="1" style="width:100%;text-align:center" >Nodes</th>
                //     </tr>
                // </thead>

                

                for(var i=0;i<len;i++){
                    item = document.createElement('li');
                    //<p> Node Name: {{graphnode1}} <span style="font-size:18px;font-weight:bold;text-align:right"></span> </p>  
                    item.setAttribute("id", "mytable");
                    item.setAttribute("style", "font-size:16px")//;font-weight:bold;text-align:center")
                    item.innerHTML = list[i];
                    oList.appendChild(item);
                }
            }
            //模糊匹配的时候如果不区分大小写，可以使用toLowerCase()或者toUpperCase()转换之后去匹配。

            //模糊查询1:利用字符串的indexOf方法
            function searchByIndexOf(keyWord, list){
                if(!(list instanceof Array)){
                    return ;
                }
                var len = list.length;
                var arr = [];
                for(var i=0;i<len;i++){
                    //如果字符串中不包含目标字符会返回-1
                    if(list[i].indexOf(keyWord)>=0){
                        arr.push(list[i]);
                    }
                }
                return arr;
            }
            //正则匹配
            function searchByRegExp(keyWord, list){
                if(!(list instanceof Array)){
                    return ;
                }
                
                var arr = [];
                var reg = new RegExp(keyWord);
                for(var i in list){
                    //如果字符串中不包含目标字符会返回-1
                    if(list[i].name.match(reg)){
                        arr.push(list[i].name);
                    }
                }
                return arr;
            }
            renderFruits(fruits);
        </script>
        <script>
            //数据更新
            function update(){
                var datas = JSON.parse(localStorage.getItem("global_datas"));
                var edges = []//datas.edges;
                var nodes = []//datas.nodes;//['a', 'b', 'c'];
                // nn = ["a","b","c","d","e"]
                console.log("without push",nodes.length,edges.length)
                for(var j=0 ;j<5; j++){
                    nodes.push(datas.nodes[j])    
                    edges.push({
                            "source":Math.ceil(Math.random() * (nodes.length - 1) ),
                            "target":Math.ceil(Math.random() * (nodes.length - 1) ),
                    })
                }
                console.log("push", nodes.length,edges.length)
                d = {"nodes":nodes,"edges":edges}               
                Show_select_Points(d, true);

            }
            
            
            function update_1(name){
                var datas = JSON.parse(localStorage.getItem("global_datas"));
                var ori_nodes = datas.nodes;
                var ori_edges = datas.edges;
                var index = 0; 
                
                nodes = []//[{"name":name}];
                edges = []//[{"source":0,"target":0}];
                
                //console.log("index", index )
                for ( i  in ori_edges){
                    if (ori_edges[i].source == index && ori_edges[i].source != ori_edges[i].target){
                        pname =ori_nodes[ori_edges[i].target]
                        nodes.push({"name":pname})
                        if (name == pname) {index = nodes.length -1}                        
                    }
                    else if (ori_edges[i].target == index && ori_edges[i].source != ori_edges[i].target){
                        pname = ori_nodes[ori_edges[i].source]
                        nodes.push({"name":pname})
                        if (name == pname) {index = nodes.length - 1}
                    }
                    else if (ori_edges[i].target == index && ori_edges[i].source == ori_edges[i].target){
                        continue
                    }                     
                }
                
                for (n in nodes){
                    //console.log('nodes',nodes[n].name)
                    if (nodes[n].name != name){
                        edges.push({"source":Number(n), "target":Number(index)})
                    }
                }
                //console.log("without push",nodes,edges)
                // for(var j=0 ;j<5; j++){
                //     nodes.push(datas.nodes[j])    
                //     edges.push({
                //             "source":Math.ceil(Math.random() * (nodes.length - 1) ),
                //             "target":Math.ceil(Math.random() * (nodes.length - 1) ),
                //     })
                // }
                // console.log("push", nodes.length,edges.length)
                d = {"nodes":nodes,"edges":edges}               
                Show_select_Points(d, true);

            }
            //增加数据
            function recover(){
                var datas = JSON.parse(localStorage.getItem("global_datas"));
                d = {"nodes":datas.nodes,"edges":datas.edges}               
                Show_select_Points(d, false);
                //visiual(datas)

                // for (var i =0; i<10;i++){
                //     dataset.push({
                //         x:Math.random()*100,
                //         y:Math.random()*100
                //     });
                // }
                // updatePoints();
            }
            function decrease(){
                var edges = []//datas.edges;
                var nodes = []//datas.nodes;//['a', 'b', 'c'];
                
                dempty = {"nodes":[],"edges":[]}
                Show_select_Points(dempty);
                
            }
            
            function Show_select_Points(dataset, bigsize){
                var svg = d3.selectAll("svg")
                //if (bigsize) {v_force = -2500}
                v_force = -400
                var force = d3.layout.force()
                    .nodes(dataset.nodes) //指定节点数组
                    .links(dataset.edges) //指定连线数组
                    .size([1100,1080]) //指定作用域范围
                    .linkDistance(70) //指定连线长度
                    .charge([v_force]); //相互之间的作用力;
                    force.start();
                
                //绑定数据
                var update_lines = svg.selectAll("line")
                    .data(dataset.edges);
                var update_nodes = svg.selectAll('circle')
                    .data(dataset.nodes);
                var update_texts = svg.selectAll("text")
                    .data(dataset.nodes)
                console.log('test',dataset)
                
                //绑定数据后，分别获取update和enter部分
                var enter_lines = update_lines.enter();
                var exit_lines = update_lines.exit();
                var enter_nodes = update_nodes.enter();
                var exit_nodes = update_nodes.exit();
                var enter_texts = update_texts.enter();
                var exit_texts = update_texts.exit();

                offset = "translate(10,-100)"
                //有新数据没有足够的元素，插入新元素，并将元素赋予新的数据,enter部分的处理方法是添加元素后再修改内容
                enter_lines.append("line")
                    .attr("stroke",1000)
                    .attr("class","Edge")
                    .attr("transform",offset)
                    .attr("x1",function(d){ return d.source.x; })
                    .attr("y1",function(d){ return d.source.y; })
                    .attr("x2",function(d){ return d.target.x; })
                    .attr("y2",function(d){ return d.target.y; })
                
                var color = d3.scale.category20();
                enter_nodes.append("circle")                  
                    .style("fill",function(d,i){
                        return color(i);
                    })
                    .attr("transform",offset)
                    .attr("r",5)
                    .style("stroke-width", 1)
                    .attr("cx",function(d){return d.x;})
                    .attr("cy",function(d){return d.y;})
                    .on("mouseover",function(d){mouseover_node(d);})
                    .on("mouseout", function(d){mouseout_node(d);})
                    .call(force.drag);  //使得节点能够拖动
                //TODO 怎样添加数据
                    // if (!bigsize){
                //     console.log('aaaaa')
                //     c = d3.selectAll("circle")
                //     t = d3.selectAll("text")
                //     l = d3.selectAll("line")
                //     c.attr("r" , 5)
                //     t.attr("font-size", "10px")
                //     l.style("stroke-width",0.8)
                // }    
                enter_nodes.append("text")
                    .attr("transform",offset)
                    .style("fill", "black")
                    .attr("dx", 20)
                    .attr("dy", 8)
                    .attr("font-size","10px")
                    .text(function(d){
                        return d.name;
                    })
                    .style("fill-opacity", 1)
                    .attr("x",function(d){return d.x;})
                    .attr("y",function(d){return d.y;})
               
                force.on("tick", function(){ //对于每一个时间间隔
                    //更新连线坐标
                    a = d3.selectAll("line")
                    a.attr("x1",function(d){ return d.source.x; })
                        .attr("y1",function(d){ return d.source.y; })
                        .attr("x2",function(d){ return d.target.x; })
                        .attr("y2",function(d){ return d.target.y; });

                    //更新节点坐标
                    b = d3.selectAll("circle")
                    b.attr("cx",function(d){ return d.x; })
                        .attr("cy",function(d){ return d.y; });

                    //更新文字坐标
                    c = d3.selectAll("text")
                    c.attr("x", function(d){ return d.x; })
                        .attr("y", function(d){ return d.y; });
                });

                var mouseout_node = function(z){
                    a = d3.selectAll("line")
                    b = d3.selectAll("circle")
                    c = d3.selectAll("text")
                
                    a.style("stroke-opacity", 0.2);
                    b.style("stroke-width", 1)
                        .attr("r",5)
                    c.attr("font-size", 10)
                        .style("fill-opacity", 1)
                    
                };

                var mouseover_node = function(z){
                    var neighbors = {};
                    a = d3.selectAll("line")
                    b = d3.selectAll("circle")
                    c = d3.selectAll("text")
                    neighbors[z.index] = true;
                    a.filter(function(d){
                        if (d.source == z) {
                            neighbors[d.target.index] = true
                            return true
                        } else if (d.target == z) {
                            neighbors[d.source.index] = true
                            return true
                        } else {
                            return false
                        }
                    })
                        .style("stroke-opacity", 1);

                                   
                    b.filter(function(d){ return neighbors[d.index] })
                        .style("stroke-width", 3)
                        .attr("r" ,Math.ceil(Math.random() * 10+10));

                    c.filter(function(d){ return !neighbors[d.index] })
                        .style("fill-opacity", 0.2);

                    c.filter(function(d){ return neighbors[d.index] })
                        .attr("font-size", "30px")
                
                };

                //只更新xy坐标
                update_lines.transition()
                update_nodes.transition()
                update_texts.transition()  
                
                //减少了数据，数据小于元素（图形），删除元素就行
                exit_lines.attr("fill-opacity",1.0)
                    .transition()
                    .duration(1000)
                    .attr("fill-opacity",0.0)

                exit_nodes.attr("fill-opacity",1.0)
                    .transition()
                    .duration(1000)
                    .attr("fill-opacity",0.0)
                
                exit_texts.attr("fill-opacity",1.0)
                    .transition()
                    .duration(1000)
                    .attr("fill-opacity",0.0)
                    //.attr('cx',function(d){return XScale(0)})
                    //.attr('cy',function(d){return YScale(0)});
                    
                //remove;
                //exit部分的处理方法是删除
                exit_lines.remove();
                exit_nodes.remove();
                exit_texts.remove();

            }

        </script>
        <!-- <button onclick="update()">update</button>
        <button onclick="recover()">recover</button>
        <button onclick="decrease()">decrease</button> -->

    </body>
</html>