<html>
    <title>Graph</title>

    <style>
         .Mytext{
            text-anchor: middle;
            font-family: arial;
            font-size: 1px;
            }
        .Edge {
                stroke: #777;
                stroke-opacity: .2;
            }
        
        #right_select_box {
                line-height:30px;
                background-color:#eeeeee;
                height:900px;
                width:300px;
                float:right;
                padding:10px;	      
            }
    </style>
    
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>

    <body >
        <link rel="stylesheet" href="lib/style/bootstrap.min.css">

    
        <nav class="navbar nav-default" role="navigation" style="background-color: grey; max-height: 60px;">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <p style="color: white"> Knowlege Graph </p></a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://vis.cse.ust.hk/"  style="color: #ffffff">About Us</a></li>
                    <li><a href="#"  style="color: #ffffff">Help</a></li>
                </ul>
            </div>
        </nav>
        
        <div id="right_select_box">
            <div id= "col-sm-3 col-sm-offset-9 col-md-3 col-md-offset-9 sidebar" ng-class="{invisible: uiConfig.hideControlPanel}">
                <script src="scripts/controller/rightCtrl.js"></script>
                <div ng-app="myApp" ng-controller="rightCtrl">
 
                        cc:<input type="text" ng-model="input1"><br>
                        jry: <input type="text" ng-model="lastName"><br>
                        <br>
                        姓名: {{output()}}
                         
                </div>    
  
                <div ng-include src="'views/rightSidebar.html'" class="ng-scope">rightSidebar</div>
                    <!-- need add rightctrl function ---------------------->
                <div id="right-sidebar" ng-controller="rightCtrl" class="ng-scope"> rightCtrl</div>
                    <h4>Control Panel:</h4>
                    <div ng-include src="'views/queryFilter.html'" class="ng-scope"></div>
                    <div id="queryFilter" ng-controller="queryFilterCtrl" class="ng-scope">
                        <div class="info-header">
                            <h5> Querys:</h5>
                        </div>
                        <div ng-if="dataLoadFlag == 1" class="ng-scope">
                            <div id="searchWrapper" class="queryWarpper">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="Graph node name" style="width:63%;display:inline" ng-model="querData.searchText">
                                <button type="button" class="btn btn-primary" style="display: inline" ng-click="search()"> Search</button>
                                <button type="button" class="btn btn-primary" style="display: inline" ng-click="reset()"> Reset</button>
                            </div>
                        </div>
                </div>  

                    
            </div>
        </div>  

        <script src="lib/jquery-1.9.1.js"></script>
        <script src="lib/d3.v3.min.js" charset="utf-8"></script>

        <script src="main.js"></script>
        <script src="scripts/controller/rightCtrl.js"></script>

    </body>
</html>