
<!-- <div id="right-sidebar" ng-app="myApp" ng-controller="rightCtrl"> -this is function in rightCtrl function should -->
<div ng-app = "myApp">   
    <h4> Control Panel: </h4>
        <p>名字 : <input type="text" ng-model="name"></p>
        <h1>Hello {{name}}</h1>
        <!--<tabset>-->
            <!--<tab heading="Node Table" select="rightSidebar.detailedSelect = 'table'" style="cursor: pointer"></tab>-->
            <!--<tab heading="Node Filter" select="rightSidebar.detailedSelect = 'filter'" style="cursor: pointer"></tab>-->
        <!--</tabset>-->
    
        <!--<div ng-if="rightSidebar.detailedSelect == 'table'">-->
        <!-- <div ng-include src="views/queryFilter.html">
        </div>
        <div>
            <div table-directive table-config="tableConfig" table-data="currentNodes" ng-controller="tableCtrl" highlight-node="highlightNode(node)">
            </div>
        </div> -->
    </div>
    